/* font-family: "OfficinaSerifBook"; */
@font-face {
  font-family: "OfficinaSerifBook";
  src: url("../fonts/OfficinaSerifBook/OfficinaSerifBook.eot");
  src: url("../fonts/OfficinaSerifBook/OfficinaSerifBook.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficinaSerifBook/OfficinaSerifBook.woff") format("woff"), url("../fonts/OfficinaSerifBook/OfficinaSerifBook.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OfficinaSerifBookItalic"; */
@font-face {
  font-family: "OfficinaSerifBookItalic";
  src: url("../fonts/OfficinaSerifBookItalic/OfficinaSerifBookItalic.eot");
  src: url("../fonts/OfficinaSerifBookItalic/OfficinaSerifBookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficinaSerifBookItalic/OfficinaSerifBookItalic.woff") format("woff"), url("../fonts/OfficinaSerifBookItalic/OfficinaSerifBookItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OfficinaSerifMedium"; */
@font-face {
  font-family: "OfficinaSerifMedium";
  src: url("../fonts/OfficinaSerifMedium/OfficinaSerifMedium.eot");
  src: url("../fonts/OfficinaSerifMedium/OfficinaSerifMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficinaSerifMedium/OfficinaSerifMedium.woff") format("woff"), url("../fonts/OfficinaSerifMedium/OfficinaSerifMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OfficinaSerifMediumItalic"; */
@font-face {
  font-family: "OfficinaSerifMediumItalic";
  src: url("../fonts/OfficinaSerifMediumItalic/OfficinaSerifMediumItalic.eot");
  src: url("../fonts/OfficinaSerifMediumItalic/OfficinaSerifMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficinaSerifMediumItalic/OfficinaSerifMediumItalic.woff") format("woff"), url("../fonts/OfficinaSerifMediumItalic/OfficinaSerifMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OfficinaSerifBold"; */
@font-face {
  font-family: "OfficinaSerifBold";
  src: url("../fonts/OfficinaSerifBold/OfficinaSerifBold.eot");
  src: url("../fonts/OfficinaSerifBold/OfficinaSerifBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficinaSerifBold/OfficinaSerifBold.woff") format("woff"), url("../fonts/OfficinaSerifBold/OfficinaSerifBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OfficinaSerifBoldItalic"; */
@font-face {
  font-family: "OfficinaSerifBoldItalic";
  src: url("../fonts/OfficinaSerifBoldItalic/OfficinaSerifBoldItalic.eot");
  src: url("../fonts/OfficinaSerifBoldItalic/OfficinaSerifBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficinaSerifBoldItalic/OfficinaSerifBoldItalic.woff") format("woff"), url("../fonts/OfficinaSerifBoldItalic/OfficinaSerifBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "MyriadProRegular"; */
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
body {
  font-family: "OfficinaSerifBook"; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.block_title {
  color: #fff;
  font-size: 3.5em;
  text-align: center;
  margin-top: 15px; }

h2.number {
  color: #FFBF4F;
  font-size: 3.125em;
  text-align: center;
  font-family: "OfficinaSerifBold";
  margin: 10px 0 0; }

.p0 {
  padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

@media only screen and (max-width: 770px) {
  .align-left {
    text-align: center; }

  .align-right {
    text-align: center; } }
.go {
  display: block;
  position: relative;
  top: -80px; }

.navbar-nav {
  width: 100%;
  text-align: center;
  margin: 5px 0; }
  .navbar-nav li {
    float: none;
    display: inline-block; }
    .navbar-nav li a {
      font-size: 1.344em;
      color: #FFF;
      text-transform: uppercase; }

.navbar-default .navbar-nav > li > a {
  color: #FFF; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #EAD59E; }
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff; }

.navigation {
  background: rgba(62, 44, 34, 0.58);
  border-bottom: 1px solid #000;
  color: #FFF;
  height: 60px; }

@media only screen and (max-width: 767px) {
  .header .navigation {
    background: #3e2c22; }
  .header .navbar-nav {
    margin: 0;
    background-color: #888;
    width: 100%; }
    .header .navbar-nav li {
      display: block;
      width: 100%; }
  .header .navbar-collapse {
    margin: 5px 0 0;
    padding: 0; }
  .header .container > .navbar-collapse {
    margin-top: 10px;
    padding: 0;
    border-top: 1px solid #000; }
  .header .navbar-collapse .collapse .in {
    padding: 0; } }
.header {
  display: block;
  width: 100%;
  position: relative;
  float: left;
  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 20px; }
  .header h4 {
    font-size: 1.750em;
    text-align: center;
    color: #FFF; }
    .header h4 span {
      color: #DEA74F; }
  .header__slogan {
    margin-top: 30px; }
  .header__logo img {
    width: 132px;
    display: block;
    margin: 0 auto; }
  .header__phone {
    margin-top: 25px; }
    .header__phone p {
      text-align: center;
      color: #FFF;
      font-family: "MyriadProRegular";
      font-size: 1.438em; }

.stock {
  background-image: url("../img/main-bg.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
  display: block;
  float: left;
  width: 100%; }
  .stock h4 {
    text-align: center;
    font-family: "MyriadProRegular";
    font-size: 1.625em;
    color: #f7ce90; }
  .stock__item {
    display: block;
    max-width: 336px;
    margin: 15px auto;
    width: 100%;
    height: 260px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    border-radius: 17px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    border: 5px solid #cfbf8d;
    padding: 10px; }
    .stock__item img {
      max-width: 90%;
      display: block;
      margin: 0 auto;
      max-height: 180px; }
    .stock__item-1 {
      position: relative;
      margin-top: 10px; }
      .stock__item-1 h3 {
        color: #f7ce90;
        text-align: center;
        font-family: "MyriadProRegular";
        font-size: 1.375em;
        margin: 0 0 5px; }
      .stock__item-1 p {
        font-size: 0.938em;
        color: #f7ce90;
        text-align: center; }
      .stock__item-1 h2 {
        color: #FFF;
        font-family: "OfficinaSerifBold";
        font-size: 2.938em;
        text-align: center;
        margin: 5px 0; }
      .stock__item-1 .old-price {
        position: relative; }
        .stock__item-1 .old-price p {
          color: #FFF;
          text-align: center;
          font-style: italic;
          font-size: 1.500em; }
        .stock__item-1 .old-price:before, .stock__item-1 .old-price:after {
          content: ""; }
        .stock__item-1 .old-price:before {
          border-top: 1px solid #fff;
          display: block;
          width: 70px;
          position: absolute;
          /* margin: 0 auto; */
          top: 15px;
          left: 30px;
          transform: rotate(20deg); }
        .stock__item-1 .old-price:after {
          border-bottom: 1px solid #fff;
          display: block;
          width: 70px;
          position: absolute;
          bottom: 15px;
          left: 30px;
          transform: rotate(-20deg); }
      .stock__item-1 img {
        width: 100%; }
      .stock__item-1 small {
        color: #f7ce90;
        position: relative;
        text-align: center;
        font-size: 0.788em;
        display: block;
        margin-top: 20px; }
      .stock__item-1 .buy-but {
        width: 112px;
        height: 40px;
        margin: 0 auto;
        -webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        -ms-border-radius: 17px;
        border-radius: 17px;
        -o-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #bf4d2b;
        font-family: "OfficinaSerifBold";
        text-align: center;
        line-height: 40px;
        color: #FFF;
        display: block;
        text-decoration: none; }
        .stock__item-1 .buy-but:hover {
          background-color: #d66847; }
    .stock__item-2 h2 {
      font-family: "OfficinaSerifBold";
      color: #fff;
      text-align: center;
      margin: 0 0 5px;
      font-size: 3.438em; }
      .stock__item-2 h2 span {
        color: #F1C349; }
    .stock__item-2 h4 {
      color: #f7ce90;
      text-align: center;
      font-size: 1.35em;
      font-family: "OfficinaSerifBook"; }
    .stock__item-3 {
      margin-top: 10px; }
      .stock__item-3 h3 {
        color: #FFF;
        text-align: center;
        font-size: 2.438em;
        margin-top: 5px; }

.store {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 20px 0;
  background-color: #FBF5E9;
  background-repeat: no-repeat;
  background-image: url("../img/flow-bg.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 50%; }
  .store__item {
    -webkit-transition: all 0.5 linear;
    -moz-transition: all 0.5 linear;
    -ms-transition: all 0.5 linear;
    -o-transition: all 0.5 linear;
    transition: all 0.5 linear; }
    .store__item h3 {
      font-size: 2.438em;
      text-align: center;
      font-family: "OfficinaSerifBold";
      color: #743F31; }
    .store__item h5 {
      font-size: 1.438em;
      text-align: center;
      color: #A2643F; }
    .store__item h4 {
      text-align: center;
      color: #897262;
      font-size: 1.813em; }
      .store__item h4 b {
        color: #BF4E2B;
        font-family: "OfficinaSerifBold"; }
    .store__item .buy-but {
      display: block;
      position: relative;
      font-size: 1.563em;
      text-align: center;
      color: #FFF;
      width: 125px;
      height: 45px;
      -webkit-border-radius: 17px;
      -moz-border-radius: 17px;
      -ms-border-radius: 17px;
      border-radius: 17px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #a1543c;
      margin: 10px auto;
      line-height: 45px;
      text-decoration: none; }
      .store__item .buy-but:hover {
        background-color: #BF4E2B; }
    .store__item:hover h3 {
      color: #BF4E2B; }
    .store__item:hover .store__thumb--text {
      display: block; }
  .store__thumb {
    position: relative;
    width: 100%;
    height: 300px; }
    .store__thumb img {
      margin-top: 20px;
      width: auto;
      height: auto;
      max-height: 300px;
      display: block;
      margin: 0 auto; }
    .store__thumb--text {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 10px;
      background: rgba(134, 101, 85, 0.61); }
      .store__thumb--text p {
        color: #FFF;
        font-family: "MyriadProRegular";
        font-size: 1.063em; }
  .store .show-more {
    font-size: 1.250em;
    text-align: center;
    width: 204px;
    display: block;
    height: 42px;
    line-height: 42px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    border-radius: 17px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #a28457;
    text-decoration: none;
    color: #fff;
    margin: 25px auto; }
    .store .show-more:hover {
      background-color: #816945; }

.reviews, .social {
  display: block;
  float: left;
  width: 100%;
  background-color: #4A332A;
  position: relative;
  padding: 20px 0; }
  .reviews__item {
    display: block;
    margin: 25px 0; }
    .reviews__item p {
      color: #fff;
      font-size: 1.125em; }
    .reviews__item .author {
      display: block;
      text-align: right;
      color: #ECD796; }
  .reviews .show-more, .social .show-more {
    font-size: 1.250em;
    text-align: center;
    width: 204px;
    display: block;
    height: 42px;
    line-height: 42px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    border-radius: 17px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #a28457;
    text-decoration: none;
    color: #fff;
    margin: 25px auto; }
    .reviews .show-more:hover, .social .show-more:hover {
      background-color: #816945; }

.subs {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-image: url("../img/main-bg.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0; }
  .subs__input {
    display: block;
    margin: 20px auto;
    float: left;
    font-size: 1.813em;
    text-align: center;
    color: #EDD68E;
    width: 100%;
    height: 61px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    border-radius: 17px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    border: 5px solid #cfbf8d;
    background: transparent;
    outline: none; }
  .subs__sub {
    width: 80%;
    margin: 20px auto;
    display: block;
    font-size: 1.563em;
    font-family: "OfficinaSerifBold";
    text-align: center;
    color: #FFF;
    line-height: 61px;
    height: 61px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    border-radius: 17px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #bf4d2b;
    outline: none;
    border: none; }
    .subs__sub:hover {
      background-color: #953c22; }
  .subs__form {
    display: block; }

.social p {
  color: #FFF;
  font-size: 0.813em;
  line-height: 47px; }
.social h5 {
  text-align: center;
  color: #FFF;
  font-size: 1.188em;
  margin: 15px 0; }
.social__but {
  display: block;
  margin: 0 auto;
  width: 425px; }
  .social__but a {
    display: block;
    position: relative;
    float: left;
    width: 36px;
    height: 37px;
    margin: 5px;
    line-height: 37px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #999;
    color: #3B2820;
    text-align: center;
    font-size: 20px; }
    .social__but a:hover {
      background-color: #737373; }
    .social__but a .my-world {
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      background-image: url("../img/my-world-1.png"); }

.blog {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 20px 0;
  background-image: url("../img/main-bg.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; }
  .blog .slide-image img {
    width: 100%; }
  .blog .slick-prev {
    position: absolute;
    left: -50px;
    top: 25px;
    width: 50px;
    height: 125px;
    background: transparent;
    background-image: url("../img/arr_left.png");
    background-position: 50% 50%;
    border: none;
    outline: none;
    background-repeat: no-repeat; }
    .blog .slick-prev:hover {
      background: rgba(0, 0, 0, 0.38);
      background-image: url("../img/arr_left.png");
      background-position: 50% 50%;
      background-repeat: no-repeat; }
  .blog .slick-next {
    position: absolute;
    border: none;
    outline: none;
    right: -50px;
    top: 25px;
    width: 50px;
    height: 125px;
    background: transparent;
    background-image: url("../img/arr_right.png");
    background-position: 50% 50%;
    background-repeat: no-repeat; }
    .blog .slick-next:hover {
      background: rgba(0, 0, 0, 0.38);
      background-image: url("../img/arr_right.png");
      background-position: 50% 50%;
      background-repeat: no-repeat; }
  .blog .slide-date p {
    font-size: 1.063em;
    color: #ffe898;
    font-style: italic; }
  .blog .slide-text h4 {
    font-size: 1.688em;
    color: #fff; }
  .blog .slide-text p {
    font-size: 1.063em;
    color: #fff; }
  .blog .slick-slide {
    outline: none; }

@media only screen and (max-width: 500px) {
  .social__but {
    width: 212px; } }
.footer {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-image: url("../img/main-bg.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0; }
  .footer .nav > li > a:hover, .footer .nav > li > a:focus {
    background: none;
    color: #FFBF4F; }
  .footer .navbar-nav li a {
    color: #f0ce9a; }

/*# sourceMappingURL=style.css.map */
